

body { 
    background-image: url(..//images/DSC00321-Edit\ copy\ 2.jpg);
    background-position: center fixed;
    background-repeat:  no-repeat;
    background-size:  cover;
} 

.parent1 {
    display:flex;
    /* height:90%; */
}

header{
    display:flex;
    font-size: 5.5em;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    writing-mode: vertical-rl;
}

.one {
    display:flex;
    width:15%;
}

.two{
    display:flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
    width: 85%;
}

.column {
    display:flex;
    height: 250px;
    width: 1050px;
    flex-direction: row;
    background-color: #C9A1A1;
    margin: 0 auto;
}


.parent2, .parent3 {
    display:flex;
    align-items: center;
    font-family: Verdana, Geneva, sans-serif;
}

.a{
    font-size: 18px;
}

.contacthead, .contactinfo {
    padding: 0px 30px 0px 80px;
}

li{
    padding:10px;
}


