html, body{
    height: 150%;
    width: 100%
  }
  

body { 
    background-image: url(..//images/DSC00321-Edit\ copy.jpg) ;
    background-position: center;
    background-repeat:  no-repeat;
    background-size:  cover;
} 

.parent1 {
    display:flex;
    height:80%;
}

header{
    display:flex;
    font-size: 5.5em;
    color: white;
    font-weight: bold;
    font-family: Arial;
    writing-mode: vertical-rl;
}

.two{
    display:flex;
    align-items: center;
    font-family: Arial;
}



.parent2 {
    display:flex;
    height: 20%;
    justify-content: center;
    background-color: #C9A1A1;
    padding: 20px;
}

.three{
    display:flex;
    font-family: Arial;
}

.skill1, .skill2, .skill3 {
    padding: 60px;
}

